.cart_button {
    margin-top: 5px;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    margin-left: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .cart_button:hover {
    opacity: 0.6;
  }
    
  .cart-name {
    margin-left: 30px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 600;
    border-radius: 15px;
    
  }

  .cart-status {
    margin-left: 5px;
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 600;
    border-radius: 15px;
  }