.buyButton{
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    z-index: 1000;
}
.btn {
    height: 40px;
    width: 200px;
    border-radius: 0.3em;
    background: #ffffff;
    color: #000000;
    border: none;
}
.btn:hover {
    cursor: pointer;
    background-color: #0000003a;
}