
.container{
  max-width: 75vw;
}
.container .titulo{
    font-size: 10px;
    padding-top: 2rem;
    padding-left: 3.1rem;
    padding-bottom: 2rem;
}
.container .carousel{
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  text-align: center;
  padding-bottom: 30px;
}
.container .carousel::-webkit-scrollbar{
    display: none;
}

.container .carousel .item{
  margin: 10px;
  width: 280px; 
}
.container .carousel .item .img img{
  width: 67px;
  height: 67px;
  padding-bottom: 5px;
  cursor: pointer;
}

.container .carousel .item .sub-title span{
    display: block;
    cursor: pointer;
}
.container .buttons{
    width: 100%;
    text-align: center;

}
.container .buttons button{

    background: none;
    background-color: transparent;
    border: none;
}